<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKt9tTh2lBvvsQaIC7suaXXol3_rntKV0</string>
	<key>GCM_SENDER_ID</key>
	<string>944002513629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jason.fang.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-585ad</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-585ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944002513629:ios:74400a23b902de5430b934</string>
</dict>
</plist>